<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Success</title>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Login Successful!</h2>
    <p>Congratulations! You have successfully logged into the portal. The flag is stored within a file in this directory.</p>
</div>
</body>
</html>
